In [1]:
import numpy as np
import pandas as pd

C:\Users\K\AppData\Local\Temp\ipykernel_5040\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
my_array = np.array([1,2,3])
print(my_array)

[1 2 3]

In [6]:
my_array[0]

1

In [8]:
instructors_data = {
    
    'name': ["Del", "Aileen", "Mhairi", "Steph", "Mandy", "Colin"],
    'favourite_number': [7, 12, 3, 9, 4, 11]
}

instructors_data
type(instructors_data)

dict

In [11]:
instructors_dataframe = pd.DataFrame(instructors_data)

instructors_dataframe

     name  favourite_number
0     Del                 7
1  Aileen                12
2  Mhairi                 3
3   Steph                 9
4   Mandy                 4
5   Colin                11

In [12]:
instructors_dataframe = pd.DataFrame({
    'name': ["Del", "Aileen", "Mhairi", "Steph", "Mandy"],
    'favourite_number': [7, 12, 3, 9, 4]},
    index = [1,2,3,4,5]
    )
    
instructors_dataframe

     name  favourite_number
1     Del                 7
2  Aileen                12
3  Mhairi                 3
4   Steph                 9
5   Mandy                 4

In [27]:
class Dog:

  def __init__(self, name, age, coat):
    self.name = name
    self.age = age
    self.coat = coat
    
  def bark(self):
    print(self.name + " barks!")
    
  def chase_ball(self):
      if self.age < 10:
          print(self.name + " chases the ball!")
      else:
          print(self.name + " sits and stares at you accusingly...")

  def eat(self, food):
   print(self.name + " eats " + food + "!")
   
  def describe(self):
   print (self.name + " is " + str(self.age) +" years old and has a " + self.coat + " coat.")
    
fido = Dog("Fido", 4, "brown")
fido.bark()
fido.chase_ball()
fido.eat("dog biscuits")
fido.describe()

Fido barks!
Fido chases the ball!
Fido eats dog biscuits!
Fido is 4 years old and has a brown coat.

In [29]:
rex = Dog("Rex", 10, "White")

rex.describe()

Rex is 10 years old and has a White coat.

In [35]:
class DataHolder:

  def __init__(self, data):
    self.data = np.array(data)
    # self.norm is not passed in here, it is calculated from the input data
    self.norm = np.sqrt(np.sum(self.data ** 2))
    
  def get_normalised(self):
    return list(self.data / self.norm)

In [32]:
data_holder = DataHolder([3,4,5])

data_holder.data

array([3, 4, 5])

In [34]:
data_holder.get_normalised()

[0.4242640687119285, 0.565685424949238, 0.7071067811865475]

In [36]:
years_of_birth = [1990, 1991, 1990, 1990, 1992, 1991, 1976, 1984, 1940]

In [44]:

#Finding
list_of_age = []


for i in years_of_birth:
    list_of_age.append(2024 - i)

list_of_age

[34, 33, 34, 34, 32, 33, 48, 40, 84]

In [87]:
# Multiple of 3 or 5

def sum_of_multiple(number):
    number_array = []   
    # Keep all the numbers that is divisible by 3 or 5 within the given input nautral numbe
    [number_array.append(i) for i in range(1, number) if i %3 ==0 or i%5 == 0]
    print(sum(number_array))
    
sum_of_multiple(1000)

233168

In [117]:
# No need to repeat yourself...
test = ["I", "am", "counting", "my", "calories", "yet", "I", "really", "want", "dessert", "I", "am", "still", "hungry"]

def remove_duplicates(input_list):
    new_list = []
    
    [new_list.append(input_list[i]) for i in range(0, len(input_list)) if input_list[i] not in  input_list[0:i]]
    print(new_list)

remove_duplicates(test)

['I', 'am', 'counting', 'my', 'calories', 'yet', 'really', 'want', 'dessert', 'still', 'hungry']

['I']