In [25]:
import pandas as pd
import numpy as np

In [26]:
#Q1 
q1_list = ['spam', 'ham', 'eggs' ,'ham']

# Second element
q1_list[1]

'ham'

In [27]:
# First to third
q1_list[0:3]

['spam', 'ham', 'eggs']

In [28]:
# Last elemtn
q1_list[-1]

'ham'

In [40]:
# Question 2
stops_raw = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [43]:
stops = stops_raw.copy()
stops.append("Waverley")
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Waverley']

In [48]:
stops_add_polmont = stops.copy()
find_Falkirk = stops.index("Falkirk High")

stops_add_polmont.insert(find_Falkirk+1, "Polmont")
stops_add_polmont

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Waverley']

In [50]:
stops_remove_haymarket = stops_add_polmont.copy()
stops_remove_haymarket.pop(-2)
stops_remove_haymarket

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Waverley']

In [52]:
stops_remove_all_items = stops_remove_haymarket.copy()
stops_remove_haymarket.clear()
stops_remove_haymarket

[]

In [55]:
# Question 03
person = {"name": "Steph", "age": 31, "Instructor" : True}

person.keys()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [56]:
person.values()

dict_values(['Steph', 31, True])

In [57]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [58]:
person["name"]

'Steph'

In [60]:
person_email = person.copy()

person_email.update({"email" : "steph@codeclan.com"})

'steph@codeclan.com'

In [62]:
person_remove_job = person_email.copy()

del person_remove_job['Instructor']
person_remove_job

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

In [67]:
# Question 04
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [71]:
numbers_even = numbers.copy()

for i in numbers_even:
    if i % 2 == 0:
        print(i)

6
2
2
6

In [73]:
diff_numbers = max(numbers_even) - min(numbers_even)
diff_numbers

98

In [78]:
for i in range(1, len(numbers_even)):
    if numbers_even[i] == numbers_even[i-1]:
        print(True)
    else:
        print(False)

False
False
True
False
False
False
False
False
False

In [90]:
find_6 = numbers.index(6)
find_7 = numbers.index(7)
index_6_7 = list(range(find_6,find_7))
index_6_7

[1, 2, 3]

In [92]:
numbers_no6_7 = numbers.copy()
list_no6_7 = []
for i in range(1, len(numbers_even)):
    if i not in index_6_7:
        list_no6_7.append(numbers[i])
        
list_no6_7

[7, 1, 6, 13, 99, 7]

In [96]:
# Question 5

python_is_fun = False
python_is_weird = True


if python_is_fun == True and python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

In [116]:
# Question 6

chickens_1 = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

chickens_2 = [
  { "name": "Margaret", "age": 2, "eggs": 5 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 6 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [99]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

0 eggs collected

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 0},
 {'name': 'Henrietta', 'age': 3, 'eggs': 0},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 0}]

In [117]:
total_eggs = 0

def collect_eggs(input_list):
    for chicken in input_list:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected
    return "{total_eggs} eggs collected"

collect_eggs(chickens_1)

UnboundLocalError: cannot access local variable 'total_eggs' where it is not associated with a value

TypeError: list indices must be integers or slices, not str